name: YouTube Live Stream
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Download Video
        run: |
          curl -L -o 0110.mp4 https://github.com/${{ github.repository }}/releases/download/v1q/0110.mp4
      - name: Start Stream
        run: |
          ffmpeg -re -stream_loop -1 -i 0110.mp4 -c:v libx264 -preset veryfast -b:v 3000k -maxrate 3000k -bufsize 6000k -pix_fmt yuv420p -g 50 -c:a aac -b:a 128k -f flv rtmp://a.rtmp.youtube.com/live2/${{ secrets.STREAM_KEY }}
